/* Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    border-bottom: 2px solid #dee2e6;
}

.head {
    font-size: 24px;
    font-weight: bold;
}

.buttons {
    display: flex;
    gap: 10px;
}

.buttonu{
    font-family: "Space Mono", monospace;
    color: #fff;
    background-color: #333333;
    border-radius: 5rem;
    border: none;
    outline: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
}
