.page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header, footer {
    flex-shrink: 0;
}

.main-content {
    display: flex;
    flex-grow: 1;
}

.sidebar {
    width: 45%;
    background-color: #f4f4f4;
}

.map-container {
    flex-grow: 1;
    height: 100%;
}
